$color-primary-dark: #333;
$color-secondary-dark: white;
$color-primary-light: #f5f5f5;
$color-secondary-light: black;

$theme: 'light'; // 'dark' o 'light'

$section-colors: (
  #ff0000,
  #00ff00,
  #0000ff,
  #ffff00
);